* {
    margin: 0;
    padding: 0;
}
body {
    background-color: aqua; 
    background-image: url(./pics/roberto-h-qToVxSYXPYU-unsplash.jpg);
}
.nav {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    width: 80%;
    font-size: 30px;
    margin: 0 auto;
    height: 10%;
  
}
.hed {
text-align: center;
 width: 80%;
 height: 10%;
 margin-top: 0 auto;
}
nav a {
    color: black;
    text-decoration: none;

}
.main {
    display: grid;
    grid-template-columns: auto auto auto;
     width: 80%;
     margin: 0 auto;
     text-align: center;
     height: 30%;
     
}
.main div a {
    color: white; 
    margin: 10px;
    text-decoration: none;

}
.main div {
    margin: 15px;
}

.pa {
    width: 80%;
    margin: 0 auto;
    font-weight: bolder;
}